* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  color: rgb(66, 66, 66);
  text-align: center;
  height: 100%;
  background-color: rgb(240, 97, 204);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
main {
  background: white;
}

header {
  min-height: 70vh;
}

#aboutme {
  min-height: 80vh;
  padding-bottom: 60px;
}

#sky {
  overflow: hidden;
}

#cloud {
  display: inline-block;
  width: 100%;
  height: 210px;
  background-image: url("images/pinkclouds.5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: auto;
}

.siteheader {
  padding-top: 20px;
  font-size: 1.25em;
}

.imagebottom {
  width: 50%;
  margin: auto;
  display: flex;
}

nav {
  padding: 1% 0;
  background-color: rgba(255, 255, 255, 0.842);
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0.75em;
  z-index: 10;
  box-shadow: 0px 5px 0px -77px rgb(0, 0, 0);
}

.navbardesktop {
  display: none;
}

.navbardesktop.toggleCls {
  display: block;
}

.navbardesktop li {
  display: block;
  color: rgb(66, 66, 66);
  text-decoration: none;
  text-align: right;
  list-style: none;
  margin-right: 20px;
  line-height: 1.75;
}

.navbardesktop a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  list-style: none;
}

.logo {
  font-size: 1.5em;
  position: absolute;
  left: 20px;
  margin-top: 12.5px;
  color: rgb(240, 97, 204);
}

h1 {
  text-align: left;
  padding-right: auto;
}

header {
  padding-left: 6%;
  padding-right: 6%;
}

.small {
  animation: cssAnimation 0s 1.5s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

section {
  padding: 3%;
  padding-top: 80px;
}

section:nth-child(odd) {
  background-color: rgba(240, 97, 204, 0.103);
}

.imagebottom {
  background-color: transparent;
}

header,
#cloud,
section:nth-child(even) {
  background-color: white;
}

section#aboutme ul {
  text-align: left;
  list-style-type: disc;
  margin-left: 0.75em;
  padding-inline-start: 0.75em;
}

.hamburger {
  font-size: 1.5em;
  line-height: 1.5;
  color: rgb(240, 97, 204);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.small {
  font-size: 0.5em;
  display: inline-block;
}

button {
  background-color: rgba(240, 97, 204, 0.199);
  border: solid rgb(66, 66, 66);
  color: rgb(66, 66, 66);
  font-size: 1.25em;
  display: block;
  transition: all 0.2s ease-in-out;
}

button:hover,
.pfimg2:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#portfolio {
  display: flex;
  flex-direction: column;
}

.col-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 20px 10px 10px;
  margin-bottom: 20px;
}

.col-left2 {
  margin-bottom: 20px;
}

.pfimg {
  margin-top: 10px;
  width: 120px;
  height: 246px;
  transition: all 0.2s ease-in-out;
}

.pfimg2 {
  margin-top: 10px;
  width: 95%;
  transition: all 0.2s ease-in-out;
}

.tech {
  text-align: center;
  list-style: none;
  padding-inline-start: 0;
  margin-left: 0;
}

.litech img {
  display: inline-block;
  width: 2.5em;
}

.litech {
  display: inline;
  margin-left: 0.5em;
}

.litech:first-child {
  margin-left: 0;
}

.sites.left {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 10px;
}

.sites {
  list-style: none;
  padding-inline-start: 0;
  font-size: 1em;
  padding-left: 2em;
  text-align: center;
  font-size: 1em;
}

#portfolio a,
.hover {
  color: rgb(240, 97, 204);
}

.hover:first-child {
  margin-bottom: 15px;
}

.pdiv {
  color: black;
  border: 3px transparent rgba(240, 97, 204, 0.103);
  border-radius: 1%;
  background-color: rgba(0, 0, 0, 0.103);
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 2.8px 2.2px rgba(000, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.social {
  display: inline-block;
  width: 4em;
  vertical-align: middle;
  margin-left: 5%;
}

li.social:first-child {
  margin-left: 0;
}

.social img {
  display: inline-block;
  width: 65%;
}

.socialtech {
  margin: 0;
}

.circle {
  border: solid rgb(240, 97, 204) 2px;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

ul {
  padding-inline-start: 0;
}

#contact {
  padding-bottom: 0;
}

#contact div {
  text-align: left;
  padding-left: 1em;
}

#contact ul {
  list-style: none;
}

#contact li {
  text-align: left;
}

footer {
  padding: 10px 0;
}

.sitesbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
}

@media (min-width: 600px) {
  #sky {
    overflow: hidden;
  }

  #cloud {
    display: inline-block;
    width: 100%;
    height: 210px;
    background-image: url("images/pinkclouds.5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: auto;
  }
  /* 
  @keyframes movingclouds {
    from {
      margin-left: -55%;
    }
    to {
      margin-left: 100%;
    }
  } */

  section {
    padding-top: 60px;
  }

  #aboutme p {
    text-align: left;
  }

  .navbardesktop {
    display: contents;
  }

  .navbardesktop.toggleCls {
    display: inline;
  }

  .navbardesktop li {
    display: inline-block;
    margin-left: 0.7em;
    margin-right: 0px;
    font-size: 22px;
    vertical-align: middle;
    line-height: 1.5;
    padding-bottom: 3px;
  }
  .navbardesktop a {
    text-align: right;
    display: inline-block;
  }

  .navbardesktop li,
  .navbardesktop a,
  .logo,
  #portfolio a {
    transition: color 0.5s ease;
  }

  .navbardesktop li:hover,
  .navbardesktop a:hover {
    color: rgb(240, 97, 204);
    cursor: pointer;
  }

  .logo:hover,
  #portfolio a:hover,
  .hover:hover {
    color: rgb(66, 66, 66);
    cursor: pointer;
  }
  .navbardesktop li:last-child {
    margin-right: 20px;
  }

  header {
    padding-left: 6em;
  }

  .logo {
    margin-top: 5px;
    font-size: 24px;
  }

  .hamburger {
    display: none;
  }

  .circle {
    width: 250px;
  }
  section#aboutme ul.inline {
    display: block;
    float: left;
    padding-left: 3em;
  }

  #aboutme ul.first,
  #aboutme p {
    padding-left: 3em;
    padding-right: 3em;
  }

  #aboutme .second {
    padding-left: 10px;
    margin-left: 15px;
  }
  #contact div {
    margin-left: 8em;
  }
}

@media (min-width: 800px) {
  .litech img {
    width: 1.75em;
  }

  .tech {
    text-align: left;
  }

  .sitesbox {
    text-align: left;
    padding-bottom: 20px;
  }
  .pfimg {
    margin-left: 5px;
  }

  .pdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 75px;
  }
  .left {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
  }

  .col-left {
    margin-bottom: none;
    width: 45%;
    padding: 10px 20px 10px 10px;
  }

  .col-right {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .col-left2 {
    margin-bottom: none;
    width: 45%;
    padding: 10px 20px 10px 10px;
  }

  .col-right2 {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #aboutme ul.first,
  #aboutme p {
    margin-left: 100px;
    margin-right: 100px;
  }

  #aboutme ul.inline {
    margin-left: 100px;
  }

  .siteheader {
    font-size: 1.6em;
  }

  .litech img {
    width: 2.5em;
  }

  .pfimg {
    width: 140px;
    height: 290px;
  }
  #contact div {
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media (min-width: 980px) {
  #aboutme ul.first,
  #aboutme p {
    margin-left: 150px;
    margin-right: 150px;
  }

  #aboutme ul.inline {
    margin-left: 150px;
  }

  #contact div {
    margin-left: 12em;
  }

  .pfimg {
    width: 180px;
    height: 380px;
  }
}

@media (min-width: 1024px) {
  #contact div {
    margin-left: 12em;
    margin-right: 8em;
  }

  .circle {
    margin-right: 50px;
  }

  #cloud {
    background-position-x: center;
  }
}
