* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Rubik', sans-serif; 
    font-size: 20px;
    color: rgb(22, 39, 150);
    text-align: center;
    line-height: 1.5;
  }
  
  .image{
    width: 100%;
    height: 210px;
  }

  .imagebottom{
    width: 100%;
    background-color: rgb(255, 249, 252);
    display: flex;
    align-self: end;
    z-index: -1; 
  }

  nav{
    padding: 1% 0;
    background-color: rgb(22, 52, 150);
    z-index:-1;
  }

  footer {
    padding: 1% 0;
    background-color: rgb(22, 52, 150);
    /* z-index:-1; */
  }
  
  nav {
    position: fixed;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .logo{
    font-size: 1.5em;
    position: absolute;
    left: 20px;
    margin-top: 20px;
    color: rgb(255, 228, 254);
  }

  .logo:hover{
    color: rgb(240, 97, 204);
    cursor: pointer;
  }

  .navbardesktop li{
    color: rgb(255, 228, 254);
    text-decoration: none;
    text-align: right;
    list-style: none;
    display: inline-block;
    margin-left: .5em;
  }

  .navbardesktop a{
    color: rgb(255, 228, 254);
    text-decoration: none;
    text-align: right;
    list-style: none;
    display: inline-block;
  }

  .navbardesktop li:hover, .navbardesktop a:hover{
    color: rgb(240, 97, 204);
    cursor: pointer;
  }

 .navbardesktop:last-child{
    margin-right: 20px;
  } 

  h1{
    text-align: left;
    padding-right: auto;
  }

  header {
    margin-bottom: 12em;
  }

  section {
    min-height: 200px;
    padding: 6% 3%;
  }
  
  section:nth-child(even) {
    background-color: rgb(255, 249, 252);
  }

  section#aboutme ul{
    text-align: left;
    list-style-type: disc;
    margin-left: .75em;
    padding-inline-start: .75em;
  }

.hamburger{
    font-size: 1.5em;
    color: rgb(255, 228, 254);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.hamburger:hover{
    cursor: pointer;
}

.small {
    font-size: .5em;
    display: inline-block;
}

button {
    background-color: rgb(255, 228, 254);
    border: solid rgb(22, 39, 150);
    color: rgb(22, 39, 150);
    font-size: 1.25em;
    display: block;
}

button:hover{
    background-color: rgb(22, 39, 150);
    color: rgb(255, 228, 254);
    cursor: pointer;
}

#portfolio{
  margin-bottom: 5em;
}

.pfimg{
  width: 65%;
}

.tech{
  text-align: center;
  list-style: none;
  padding-inline-start: 0;
  margin-left: 0;
}

.litech img{
  display: inline-block;
  width: 2.5em;
}

.litech{
  display: inline;
  margin-left: .5em;
}

.litech:first-child{
  margin-left: 0;
}

.sites.left{
  padding-left: 0;
  margin-left: 0;
}

.sites{
    list-style: none;
    padding-inline-start: 0;
    font-size: 1em;
    padding-left: 2em;
}

a.hover{
  color: blue;
}

a.hover:visited{
  color: purple;
}

.social {
    display: inline-block;
    width: 23%;
    vertical-align: middle;
}

.social:nth-child(2) img{
    background-color: white;
    border: solid rgb(22, 39, 150) 1px;
    border-radius: 14%;
    width: 70%
}

.social img{
    display: inline-block;
    width: 65%;
  }

.socialtech{
    text-align: center;
    list-style: none;
}

.circle {
    border: solid rgb(22, 39, 150) 3px;
    border-radius: 50%;
    width: 40%;
}

ul{
  padding-inline-start: 0;
}

#contact {
  padding-top: 6em;
  padding-bottom: 3em;
}

#contact div{
  text-align: left;
  padding-left: 1em;
}

#contact ul{
  list-style: none;
}
#contact li{
  text-align: left;
}

@media(max-width: 599px){

    .navbardesktop{
        display: none;
    }

    .navbardesktop.toggleCls{
        display: block;
    }

    .navbardesktop li{
        display: block;
    }

    nav{
        font-size: 1.5em;
    }

   .logo, .hamburger{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .logo:hover{
      color: white;
      cursor: pointer;
    }

    .sites{
      text-align: center;
      font-size: 1em;
    }
}

@media(min-width: 600px){
    header{
      padding-left: 6em;
    }

    .logo{
      margin-top: 14px;}

    .hamburger{
        display: none;
    }
    .pfimg{
      width: 30%;
      text-align: left;
      float: left;
      padding-right: 3%;
    }
    .left{
      text-align: left;
      margin-left: 20%;
    }

    .circle{
      width: 150px;
      display: inline-block;
    }
    
    section#aboutme ul.inline {
      display: block;
      float: left;
      padding-left: 8em;}

    .tech{
      text-align: left;
    }

    .social{
      width: 100px;
    }

    #aboutme ul.first{
      padding-left: 8em;
      padding-right: 8em;
    }

    #aboutme .second{
      padding-left: 10px;
      margin-left: 15px;
    }

    #contact div{
      margin-left: 8em;
    } 

  }

@media(min-width: 767px){
  #contact div{
    margin-left: 5em;
    margin-right: 5em;
  }
  section#portfolio{
    padding-bottom: 15em;
  }

}


@media(min-width: 980px){

.pfimg{
  width: 25%;
}

.circle{
  margin-right: 150px;
}

#contact div{
  margin-left: 12em;
}  

header{
  padding-bottom: 32em;
}

section#aboutme {
  padding-bottom: 30em;
}

}
@media(min-width: 1024px){

  section#portfolio{
    padding-bottom: 30em;
  }

  #contact div{
    margin-left: 12em;
    margin-right: 8em;
  } 

  #contact{
    padding-top: 13em;
  }
}

@media(min-width: 1080px){
  .circle{
    margin-right: 250px;
  }
}
